<script>
    window.onload = setTimeout(function() {
        document.getElementById("animation").remove();
        document.querySelector("#box2").classList.add("animate");
    },700);
</script>

<div id="animation">
    <div class="outer">
        <div class="box s1"></div>
        <div class="box s2"></div>
        <div class="box s3"></div>
        <div class="box s4"></div>
        <div class="box s5"></div>
        <div class="box s6"></div>
        <div class="box s7"></div>
        <div class="box s8"></div>
        <div class="box s9"></div>
    </div>
</div>

<div id="box2">