<div class="ui large top fixed inverted menu">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item <% if(page==='index') {%> active <% }%>" href="/">Home</a>
        <a class="item <% if(page==='chat') {%> active <% }%>" href="/chat">Chat</a>
        <div class="right menu">
            <% if(!currentUser) { %>
            <div class="item">
                <a class="ui inverted grey button" href="/login">Log in</a>
            </div>
            <div class="item">
                <a class="ui inverted purple button" href="/signup">Sign Up</a>
            </div>
            <% } else { %>
            <a class="item">Logged in as <%= currentUser.username%></a>
            <div class="item">
                <a class="ui inverted red button" href="/logout">Log out</a>
            </div>
            <% }%>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="pusher">
    <div class="ui vertical inverted sidebar menu">
        <a class="item <% if(page==='index') {%> active <% }%>" href="/">Home</a>
        <a class="item <% if(page==='chat') {%> active <% }%>" href="/chat">Chat</a>
        <% if(!currentUser) { %>
            <a class="item" href="/login">Login</a>
            <a class="item" href="/signup">Signup</a>
        <% } else { %>
            <a class="item" href="/logout">Log out</a>
        <% }%>
    </div>

