<% include ./partials/header.ejs %>
<% include ./partials/animation.ejs %>
<% include ./partials/navbar.ejs %>

    <br><br>
    <div class="ui inverted vertical masthead center aligned segment" style="background-image: url('/img/pexels.jpeg')">
        <% include ./partials/flash.ejs %>
        <div class="ui text container">
            <h1 class="ui inverted header" id="companyName" style="font-family: 'Luckiest Guy', cursive">
                CodeNsit
            </h1>
            <h2 class="handwriteFont">Start up Message and Video Chat with anyone</h2>
            <!--<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>-->
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header" style="font-family: 'Graduate', cursive;">We Help Students and Teacher</h3>
                    <p class="handwriteFont">Just Sign up and connect with your Friend or Teacher from anywhere</p>
                    <h3 class="ui header" style="font-family: 'Graduate', cursive;">Understand Any Concept for Free</h3>
                    <p class="handwriteFont">Yes that's right, You don't have to pay a single Dime for Any minutes of call or Any amount of Messages</p>
                </div>
                <div class="six wide right floated column">
                    <img src="/img/Webinar.jpg" class="ui large bordered rounded image">
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="center aligned column">-->
                    <!--<a class="ui huge button">Check Them Out</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <div class="commentBox">
                        <h3 class="commentFont">"What a Concept!!That too free"</h3>
                        <p>
                            <b>-Siddharth</b> Undergrad at NSIT
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="commentBox">
                        <h3 class="commentFont">"Quality is also not compromised"</h3>
                        <p>
                            <b>-Cherub</b> Undergrad at NSIT
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header" style="font-family: 'Graduate', cursive;">So Start Testing and Enjoy</h3>
            <p>For any suggestions You can contact US</p>
            <p>Anshul Mittal&nbsp&nbsp&nbsp&nbsp anshulmittal0409@gmail.com</p>
            <p>Anshul Kumar&nbsp&nbsp&nbsp&nbsp anshul98ks123@gmail.com</p>
            <!--<a class="ui large button">Read More</a>-->
            <!--<h4 class="ui horizontal header divider">-->
                <!--<a href="#">Case Studies</a>-->
            <!--</h4>-->
            <!--<h3 class="ui header">Did We Tell You About Our Bananas?</h3>-->
            <!--<p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>-->
            <!--<a class="ui large button">I'm Still Quite Interested</a>-->
        </div>
    </div>
<% include ./partials/footer.ejs %>
<!--closing tag of div with id=box which is opened in animation.ejs -->
</div>

<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>
</body>
</html>