<% include ./partials/header.ejs %>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" action="/signup" method="post">
            <div class="ui stacked segment">
                <h2 class="ui teal image header">
                    <div class="content">
                        Signup for a new account
                    </div>
                </h2>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input name="username" type="text" placeholder="Username" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Sign Up</div>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Already a user? <a href="/login">Log in</a>
        </div>
        <div class="ui message">
            Back to homepage -> <a href="/">click here</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/login.css">
<script src="/js/login.js"></script>
</body>
</html>