@keyframes fade {
    0%{
        opacity: 0;
        position: relative;
    }
    100%{
        opacity: 1;
    }
}

#animation{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #424242;
}
.outer{
    height: 200px;
    width: 200px;
    display: block;
    margin: 18% auto;
}
.box{
    width: 33%;
    height: 33%;
    float: left;
    background-color: white;
    animation: loader 0.35s 2 ease-in-out;
}

@keyframes loader {
    0%,70%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(0,0,1);
        opacity: 0.1;
    }
    100%{
        transform: scale3d(1,1,1);
    }
}

.s7{
    animation-delay: 0.05s;
}
.s4,.s8{
    animation-delay: 0.1s;
}
.s1,.s5,.s9{
    animation-delay: 0.15s;
}
.s2,.s6{
    animation-delay: 0.2s;
}
.s3{
    animation-delay: 0.25s;
}

.animate{
    animation: fade 0.5s ease-in-out;
    display: block !important;
}

#box2{
    display: none;
}

.typo{
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
}
.typo2{
    font-family: 'Oswald',sans-serif;
    font-size: 30px;
}
#myvid{
    position: fixed;
    left:10px;
    bottom: 10px;
}

    /*#outerbox{*/
        /*margin: 10px;*/
        /*box-shadow: 5px 5px 5px 2px grey;*/
    /*}*/

@media (max-width: 576px){
    .outer{
        height: 100px;
        width: 100px;
        margin: 60% auto;
    }
}

#sendBox{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0,0, 0.12), 0 5px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(.66,.32,.24,.85);
    max-width: 400px;
    padding: 10px;
}

#messages {
    height: 400px;
    overflow-y: auto;
}

#sendBox:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 6px 15px 0 rgba(0, 0,0, 0.12), 0 7px 5px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(.66,.32,.24,.85);
}
